body {
  margin: 0;
  font-family: "Roboto Mono", monospace -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --purple: #654de4;
  --grey: #eff2f6;
  --black: #070b11;
  --dark-grey: #606977;
}
svg g {
  fill: var(--purple);
}
svg {
  position: relative;
  width: 40px;
  height: 40px;
  bottom: 4px;
}
